*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/*body{
    background-color: #001f3f;
    color: #f3f3f3;
}*/
/* CSS */
body {
    background-color: #001f3f;
    color: #f3f3f3;
    animation: pulsate 5s ease-in-out infinite;
  }
  
  @keyframes pulsate {
    0% {
      background-color: #001f3f;
    }
    30% {
      background-color: #002b5e;
    }
    70% {
      background-color: #001f3f;
    }
    100% {
        background-color: #03162a;
      }
  }

/* CSS */
.profile {
    position: absolute;
    top: 30%; /* Adjust as needed to vertically center the image */
    right: 200px; /* Adjust the right margin as needed */
    transform: translateY(-50%);
    width: 300px; /* Adjust the width as needed */
    height: 50vh; /* Maintain aspect ratio */
    border-radius: 70%; /* Rounded shape for the image */
    border: 2px solid #fff; /* Optional border styling */
    animation: moveUpDown 2s ease-in-out infinite;
    transform-origin: center;
    
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value to control the amount of movement */
    }
  }

  
.profile:hover{
    color: turquoise;
    background: yellow;
    box-shadow: 0 0 100px yellow;
}

  

#header{
    width: 100%;
    height: 100vh;
    /*background-image: url(images/bg.png);*/
    background-size: cover;
    background-position: right;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    font-size: 25px;
    font-weight: 600;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.5s;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover {
    color: #ff004f; /* Change the text color to your preferred color */
    background-image: linear-gradient(90deg, gold 0%, transparent 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 1s linear infinite; /* Shining animation */
}

@keyframes shine {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 200%;
    }
}
#role {
    transition: opacity 0.5s ease-in-out;
}
/* Add the CSS for the animation */
@keyframes rotateText {
    0%, 100% { opacity: 0; transform: translateY(-20px); }
    25%, 75% { opacity: 1; transform: translateY(0); }
  }
  
  
  .role-animation {
    animation: rotateText 4s linear infinite; 
    transition: color 0.5s ease; 
  }
  
  
  .role-animation:hover {
    color: #ff004f; 
    text-decoration: underline; 
  }
.about-col2 p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333; 
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7; /* Background color */
    padding: 20px; 
    border: 1px solid #ddd; /* Border */
    border-radius: 10px;
}

.about-col2 p:hover {
    color: #ff004f; /* Stylish text color on hover */
}
 



.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: #ffd700;
}
/* ----------------------about-------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}

.about-col1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelinks::after{
    width: 50%;
}

.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}

.tabcontents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
}
/*----------------------portfolio--------------------------*/
#portfolio{
    padding: 50px 0;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 05.s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}


  
/*-------------------------------contact-----------------------*/

.contactleft{
    flex-basis: 35%;
}

.contactright{
    flex-basis: 65%;
}

.contactleft p{
    margin-top: 30px;
}

.contactleft p i{
    color: #dc143c ;
    margin: 15px;
    font-size: 25px;
    vertical-align: middle;
}

.socialicons{
    margin-top: 60px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.socialicons a:hover{
    color: #dc143c ;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #dc143c ;
}

.contactright form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #dc143c ;
}

nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px){
    /*#header{
         background-image: url(images/img.png);
    }*/
   
    .profile {
        position: static; /* Reset the positioning for smaller screens */
        margin: 20px auto; /* Center the image horizontally */
        transform: none; /* Remove any transformation */
        width: 200px; /* Adjust the width for smaller screens */
        height: auto; /* Allow the height to adjust proportionally */
        /* Other properties for smaller screens... */
    }

    .header-text{
        margin-top: 25vh;
        font-size: 16px;
        text-align: center;
    }
    .header-text h1{
        font-size: 30px;
    }
    .role-animation{
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
    }
    .about-col1{
        margin: 30px;
    }
    .about-col2{
        font-size: 14px;
    }
    .tablinks{
        font-size: 16px;
        margin-right: 20px;
    }
    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
